.fadeIn {
    -webkit-animation: fadeIn 1s both;
    animation: fadeIn 1s both;
}

/* ANIMATIONS */
@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}